<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HanDK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/_123.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <header>
  <div class="top-bar">
    <div class="contact-info">
      <i class="icon-search"></i>
      <i class="icon-facebook"></i>
      <i class="icon-phone"></i>
      <span>0976534850</span>
    </div>
    <div class="logo">
      <img src="~/images/HanDK.png" alt="Logo">
    </div>
    <div class="user-cart">
      <i class="icon-cart"></i>
      <i class="icon-user"></i>
    </div>
  </div>
  
  <nav class="main-menu">
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Danh mục</a></li>
      <li><a href="#">Thông tin</a></li>
      <li><a href="#" class="highlight">Khuyến mãi</a></li>
      <li><a href="#">HanDK</a></li>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm...">
      <button><i class="icon-search"></i></button>
    </div>
  </nav>
</header>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HanDK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
